# geometry files


# output Detalis
output/
outputArtery/
outputDiffusion/

# tilde
*~

# temporary files
data
data1
test.F90
valgrind-out.txt

src/python/expected-results/Bioheat/Serial/MainTime*
src/python/expected-results/Bioheat/n4/MainTime*

ambient0/
ambient24/

data23
energyEquation.py

energyData.csv

docs/

ignoredFilesValgring/

src/python/input/__pycache__/

src/python/input/bioheat/mesh2/
n16mesh2/
Poutlet.xlsx

otherMeshes/
src/python/expected-results/singleBifurcation/codes/
