# geometry files


# output Detalis
output/
outputArtery/
outputDiffusion/

# tilde
*~

# temporary files
data
data1
test.F90
valgrind-out.txt

src/python/expected-results/Bioheat/Serial/MainTime*
src/python/expected-results/Bioheat/n4/MainTime*

ambient0/
ambient24/

data23
